/* 
  1rem の参照サイズ。【変化】520px ではもっと下げる。
 */
html, body {
  font-size: 15px;
}

/*
  フォント種類. body に設定
*/
body {
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
  "ＭＳ Ｐゴシック", "MS PGothic", "MS Pｺﾞｼｯｸ",
  "MS Pゴシック", ＭＳＰゴシック, MSPゴシック, Osaka,
  Verdana, Arial, Helvetica, Roboto, sans-serif;
}

body, header, footer, main, section, h1, h2, h3, div, dl,dt,dd {
  box-sizing: border-box;
}

/*
  コンテンツのブロック(最大幅960px)を囲うブロックにあたる。
  【重要】：ここに下記の2行より他のwidthを余分に指定すると、小さい表示幅で必要以上のシュリンクが生じるなどの意図せざる動作の原因となりかねない。
*/
body, header, footer {
  width: 100%;
  min-width: 320px;
}


footer {
  padding: 1rem;
}
main {
  padding: 0 9px;
}

dt {
  font-weight: bold;
}