/* 
  1rem の参照サイズ。【変化】520px ではもっと下げる。
*/
html, body {
  font-size: 15px;
}

/*
  フォント種類. body に設定
*/
body {
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
  "ＭＳ Ｐゴシック", "MS PGothic", "MS Pｺﾞｼｯｸ",
  "MS Pゴシック", ＭＳＰゴシック, MSPゴシック, Osaka,
  Verdana, Arial, Helvetica, Roboto, sans-serif;
}

/*
  box-sizing:border-box; を指定。
  疑問： width に関する意図せぬ動作の原因となっていないか、気になる。
*/
body, header, footer, main, article, section, div, p,
h1, h2, h3, h4, h5, h6, dl, dt, dd, li, ul, ol {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

ul, ol {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

/*
  次の4つのコンテナは width 100%。内部にコンテナを入れて、それをレイアウトの外枠にする。
  base css の次元で、width にこれ以上の数値を入れるのは、設計思想的にも、意図せぬ動作を回避するためにも、よろしくないと思う。
*/
body, header, main, footer {
  width: 100%;
}

dt {
  font-weight: bold;
}
