/* 
  header, footer, main (それぞれwidth:100%) の innner-container たち。
  役割は2つ:
    1. 各部の横幅を決定する。
    2・ padding で外周の余白を作り、傘下の要素にpaddingやmarginを書かせない。
  max-width は、基礎値の960px に両脇の padding を足す事。
  【重要】: width,margin,padding 等は可能な限りここに集中させる。
*/
/* 幅の変数 */
:root {
  --width-content: 960px;
  --padding-inner-container: 10px;
}
/* 【重要】サイト全体の横幅を指定 */
.header-inner-container, .main-inner-container, .footer-inner-container {
  max-width: calc(var(--width-content) + var(--padding-inner-container) * 2);
  margin: 0 auto;
}
/* 左右と下のpadding */
.header-inner-container, .main-inner-container, .footer-inner-container {
  padding-right: var(--padding-inner-container);
  padding-left: var(--padding-inner-container);
  padding-bottom: var(--padding-inner-container);
}
/* footer 上端のpadding */
.footer-inner-container {
  padding-top: var(--padding-inner-container);
}
/* header 上端のpadding */
.header-inner-container {
  padding-top: var(--padding-inner-container);
}

/*
  header の logo-title 部 ==============================================
*/
/* h1 と pre-head の間を詰めるための設定 */
.logo-title__pre-head {
  margin-bottom: 0;
}
.logo-title__prime-head {
  margin-top: 0.4rem;
}
.logo-title__anchor {
  text-decoration: none;
}

/*
  header の nav-container 部 ====================================
*/
.nav-container {
}
/* nav ul */
.nav-container__list {
  /* flex box 設定 */
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  /* レイアウト(flexの他) */
  margin: 0.4rem 0 0;
  /* 項目のドット無し */
  list-style: none;
}
/* nav ul a li の a にかかるスタイル*/
.nav-container__item {
  display: block;
  border-style: solid;
  border-width: 1px;
  border-right-width: 2px;
  border-left: none;
  width: 10rem;
  /* height: 100%; */
  padding: 0.3rem 0.2rem 0.2rem;
  text-align: center;
}
/* nav ul a li の 最初の要素のみ 欠けた border を付加 */
.nav-container__item:first-child {
  border-left-style: solid;
  border-left-width: 0px;
  /* border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem; */
}
.nav-container__item:last-child {
  /* border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem; */
}
/* ナヴィのアイテムのa */
.nav-container__item-anchor {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

/*
  メインビジュアル枠
*/
.main-visual {
  margin: 0 auto;
  max-width: var(--width-content);
  min-width: 300px;
}
/* アニメ部分、固定値 */
.main-visual__anime {
  background-position: 50% 50%;
  background-size: 960px;
  background-repeat: no-repeat;
  animation: image_anime 20s ease infinite;
  -webkit-animation: image_anime 20s ease infinite;
}
/* アニメ部分、可変値 */
.main-visual__anime {
  width:100%;
  height: 520px;
}
@keyframes image_anime {
  0% {
    background-image: url(../../images/header/header01.jpg);
    background-position: 45% 50%;
  }
  50% {
    background-image: url(../../images/header/header02.jpg);
    background-position: 55% 50%;
  }
  100% {
    background-image: url(../../images/header/header01.jpg);
    background-position: 45% 50%;
  }
}

/* main 下の section 共通設定 ==================================== */
.main-section {
  margin: 1rem auto;
  padding: 0 1rem 0.8rem 1rem;
}
/* main 下の section の h 共通設定 */
.main-section__head {
  font-size: 1.4rem;
  margin: 0.6rem 0 0.2rem;
}
/* h2 中央寄せ */
.main-section__head--centered {
  text-align: center;
}
/* h2 下線付加 */
.main-section__head--under-bordered {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

/* sub section */
.sub-section {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.sub-section:last-child {
  margin-bottom: 0.4rem;
}

/* main 下の section に border を付ける場合の border の設定 */
.main-bordered-section {
  border-style: solid;
  border-width: 1px;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}

.main-section__paragraph {
}

/* introduction 前口上 section の設定 ==================================== */
/* p */
.introduction__paragraph {
  font-size: 0.95rem;
  text-indent: 1rem;
  line-height: 1.4rem;
  margin: 0.1rem 0;
}

/* 
  job-example 新しい仕事とは ====================================
  【あとは、color.css で色を編集する必要あり】
*/
.job-example {
  overflow: hidden;
}
/* h2 */
.job-example__head {
  text-align: center;
}

/* .job-example ul */
.job-example__list {
  /* flex box 設定 */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  /* ul である可能性を考え、 */
  list-style-type: none;
  /* レイアウト */
  width: 100%;
  padding: 0;
  font-size: 0.9rem;
}
/* 背景画像 */
.job-example {
  background-image: url(../../images/common/jobs.png);
  background-repeat: no-repeat;
  background-position: 50%;
}
/* job-example li */
.job-example__item {
  width:150px;
  margin: 0.1rem 0.2rem;
  padding: 0.2rem;
  text-align: center;
  /* border */
  /* border: solid 1px; */
  border-radius: 1.6rem;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  -ms-border-radius: 1.6rem;
  -o-border-radius: 1.6rem;
  -webkit-border-radius: 1.6rem;
}
.job-example__item__many-character {
  font-size: 0.8rem;
}


/* 応募セクション ==================================== */
.application-info__list-head-set {
  margin-bottom: 0.6rem;
}
.application-info__list-head-set:last-child {
  margin-bottom: 0;
}
.application-info__list-data {
  margin-left: 1rem;
}
.application-info__list-data>p {
  margin: 0;
}

/*
  「選べる学びのコース」(カードを並べる所)セクション ====================================
*/
/* 選べる学びのコース > h2 */
.cource-list__head {
  font-size: 1.6rem;
  margin-top: 0.6rem;
  text-align: center;
}

/* カードのコンテナを全部中央寄せ */
.card-list__upper,
.card-list__middle,
.card-list__bottom {
  margin: 0 auto;
}
/* カードの上と下のコンテナは flex box */
.card-list__upper,
.card-list__bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

/* 一枚のカード共通の設定 */
.card-design {
  width: 220px;
  height: 280px;
  margin: 10px 6px;
}
/* カード四隅の丸み */
.card-design {
  border: solid 1px transparent;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
/* カード見出し */
.card-design__head {
  text-align: center;
  font-size: 1.1rem;
}
/* image の wrap, 内容物(img)を中央寄せするための設定 */
.card-design__image-box {
  text-align: center;
}
/* カード */
.card-design__image {
  width: 95%;
  height: auto;
}
/* カード文章 */
.card-design__description {
  padding: 0 0.6rem;
  margin: 0.4rem 0 0.4rem 0;
}

/* 矢印のコンテナ, 中の矢印を中央寄せするflex設定 */
.arrow-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


/* 
  休眠預金活動事業による事業です ====================================
*/
/* ロゴの float をボックス内にとどめる, overflow hidden バージョン */
.sponser {
  overflow: hidden;
  zoom: 1;
}
/* 休眠ロゴ img */
.sponser__kyumin-logo {
  float: left;
  margin-right: 0.8rem;
  margin-bottom: 0.4rem;
}
/* h2 */
.sponser__head {
  margin-bottom: 0.3rem;
}
/* p */
.sponser__description {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

/*
  教室　====================================
*/
/* イラストの float 消し */
.school-description {
  overflow: hidden;
}
.school-description__img {
  width: 20%;
  height: auto;
  max-width: 150px;
  min-width: 100px;
  float: left;
  margin-right: 1rem;
}
/* p */
.school-description__paragraph {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
/* h3 */
.school-map__head {
  margin-bottom: 0.4rem;
}
/* map img の float 消し */
.school-map__img-wrap {
  overflow: hidden;
}
.school-map__img {
  width: 60%;
  height: auto;
  max-width: 390px;
  min-width: 200px;
  float: left;
}
/* 右margin, float で右に文字列を抱える 960px の時のみ。520で消すこと */
.school-map__img {
  margin-right: 1rem;
}
/* dl>dt>dd の左前の余白を1remに縮める */
.school-map__data-item {
  margin-left: 1rem;
}


/* 
  Footer, 確定 ====================================
*/
.footer__head {
  font-size: 1.1rem;
  text-decoration: none;
}
/* footer address */
.footer__address {
  width: 400px;
}
/* footer address th */
.address__head {
  text-align: left;
  width: 80px;
}
.address__head::after {
  content: ':';
}


/*
  SOLC ページ
*/
.solc-description {
  overflow: hidden;
}
.solc-description__img {
  width: 20%;
  height: auto;
  float: left;
  margin-right: 1rem;
  margin-bottom: 0.4rem;
}
.solc-description__paragraph {
}
.solc-flayer-wrap {
  text-align: center;
}
.solc-flayer-wrap__img {
  width: 100%;
  height: auto;
}

/*
  Web Creator Page
*/
.web-creator-flayer {
  margin-bottom: 1.6rem;
}
.web-creator-flayer:last-child {
  margin-bottom: 0.8rem;
}
.flayer-images-wrap {
  text-align: center;
}
.flayer-images-wrap__img {
  width: 100%;
  height: auto;
}

/* 
  mountaanous area jobs Page
*/
/* イベント詳細(dl) */
.event-details {
}
.event-details__item-div {
  margin-bottom: 0.4rem;
}
.event-details__item-div:last-child {
  margin-bottom: 0;
}

.event-details__section-head::after {
  content: ':';
  margin-left: 0.4rem;
}
.event-details__map-img {
  width: 50%;
  height: auto;
}
.event-photo-gallery {
}
.event-photo-gallery__head {
  text-align: center;
}
.event-photo-gallery__wrap {
  width: 100%;
  margin-bottom: 1rem;
}

.event-photo-gallery__img {
  width: 100%;
  height: auto;
}


/*
  動画編集講座ページ
*/
.vide-edit-flayer {
  width: 120px;
  float: left;
  margin-right: 1rem;
  margin-bottom: 0.6rem;
}
.schedule-list {
}
.schedule-list__item--be-held {
}
.schedule-list__item--be-held>dt,
.schedule-list__item--be-held>dd {
  opacity: 0.7;
}

.introduction-paragraph {
  font-size: 1.05rem;
}
/* .introduction-paragraph {
  font-weight: bold;
  font-size: 1.1rem;
  background-color: orange;
  padding: 0.4rem 0.8rem;
  vertical-align: middle;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
} */

/*
  リンクのページ
*/
.web-site-introduction {
  margin-bottom: 2rem;
}
.web-site-introduction:last-child {
  margin-bottom: 0;
}
.web-site-introduction__banner-wrap {
  margin-bottom: 0.6rem;
}
.web-site-introduction__banner-img {
  width: 30%;
  height: auto;
}
.web-site-introduction__description {

}
.web-site-introduction__banner-anchor {
  font-size: 1.8rem;
  /* text-decoration: none; */
}
.web-site-introduction__banner-anchor:link,
.web-site-introduction__banner-anchor:visited {
  color: #00c;
}
.web-site-introduction__banner-anchor:hover,
.web-site-introduction__banner-anchor:active {
  color: #00f;
  opacity: 0.8;
}
.web-site-introduction__small-logo {
  width: 60px;
  height: auto;
}

/* コミュニティに参加する */
.sns-account {
  margin-bottom: 1rem;
}
.sns-account:last-child {
  margin-bottom: 0;
}
.sns-account-list {
  padding-left: 1rem;
  list-style-type: none;
}

.before-logo::before {
  content: '';
  display: inline-block;
  background-size: contain;
  vertical-align: middle;
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.6rem;
}
.before-facebook::before {
  background-image: url(../../images/comunity/facebook.png);
}
.before-twitter::before {
  background-image: url(../../images/comunity/twitter.png);
}
.before-instagram::before {
  background-image: url(../../images/comunity/instagram.png);
}
.follow-our-sns-img {
  width: 12%;
  height: auto;
  float: left;
  margin-right: 0.6rem;
  margin-bottom: 0.6rem;
}

/* pdf anchor */
.pdf-anchor::after {
  background-image: url(../../images/common/pdf_icon.png);
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	margin-left: 10px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 20px auto;
}
@media screen and (max-width: 520px) {
  .pdf-anchor::after {
    width: 16px;
    height: 16px;
    background-size: 16px auto;
  }
}