@media screen and (max-width: 780px) {
  /* メインビジュアル */
  .main-visual__anime {
    width:100%;
    height: 420px;
    background-size: 768px;
  }
  /* イベント詳細における地図 */
  .event-details__map-img {
    width: 60%;
  }
}