@media screen and (max-width: 780px) {
  /* メインビジュアル */
  .main-visual__anime {
    width:100%;
    height: 420px;
    background-size: 768px;
  }
  /* ナヴィ */
  .nav-container__item {
    width: 9.5rem;
    font-size: 0.95rem;
  }
  /* イベント詳細における地図 */
  .event-details__map-img {
    width: 60%;
  }
  /* リンクバナーのサイズを大きく */
  .web-site-introduction__banner-img {
    width: 40%;
    height: auto;
  }
  .logo-like-string-anchor {
    font-size: 1.4rem;
    text-decoration: none;
  }
}