@media screen and (max-width: 520px) {
  html, body {
    font-size: 12px;
  }

  /*
    min-width が小さすぎると、横幅を小さくする過程で意図せぬシュリンクが起こる。
    最低 width は、よくある小型端末の最低である 360px にしておき、
    やや古い 320px 用の設定は下記に分けて定義することにする。
  */
  body, header, main, footer {
    min-width: 360px
  }
}

/* 横幅 320px の 'iphone 6' と 'iphone SE 2016' 用の設定 */
@media screen and (max-width:320px) {
  body, header, main, footer {
    min-width: 320px
  }
}
