@media screen and (max-width: 520px) {
  .logo-title__prime-head {
    font-size: 1.8rem;
  }
  /* nav の item の横幅を 1rem 小さく */
  .nav-container__item {
    width: 9rem;
    font-size: 0.9rem;
  }

  /* アニメ枠を縮小 */
  .main-visual__anime {
    width:100%;
    height: 280px;
    background-size: 480px;
  }
  @keyframes image_anime {
    0% {
      background-image: url(../../images/header/header01.jpg);
      background-position: 45% 50%;
    }
    50% {
      background-image: url(../../images/header/header02.jpg);
      background-position: 55% 50%;
    }
    100% {
      background-image: url(../../images/header/header01.jpg);
      background-position: 45% 50%;
    }
  }

  /* 小画面にしたとき main>section の内側余白が、そのままだと細すぎると感じたので、960レイアウトより太くしてある。 */
  .main-section {
    padding: 0 1rem 1rem 1rem;
  }

  /* job-example section */
  .job-example__item {
    width: 120px;
    margin: 0.1rem 0.2rem;
    padding: 0.2rem;
  }

  /* カード */
  .card-design {
    width: 130px;
    height: 185px;
    margin: 5px 3px;
  }
  /* 各カードのヘッダの上下幅を小さく */
  .card-design__head {
    margin-top: 7px;
    margin-bottom: 7px;
  }


  /* 学校 */
  .school-map__img {
    float: none;
    margin-right: 0;
  }
  /* 学校のアドレス dl の下部を縮める */
  .scholl-address-list {
    margin-bottom: 0;
  }

  /* Fotter, 確定 ==================================== */
  .footer__address {
    max-width: 90%;
    /* min-width: 320px; */
  }
  .address__head {
    width: 66px;
  }

  /* SOLC ページ */
  .solc-description__img {
    width: 25%;
  }

  /* イベント詳細における地図 */
  .event-details__map-img {
    width: 80%;
  }

  /* 動画編集のチラシ */
  .vide-edit-flayer {
    width: 80px;
  }

  /* リンクバナーのサイズを大きく */
  .web-site-introduction__banner-img {
    width: 50%;
    height: auto;
  }
}

@media screen and (max-width:350px) {
  .logo-title__prime-head {
    font-size: 1.7rem;
  }
  .nav-container__item {
    width: 8.2rem;
    font-size: 0.7rem;
  }
}